__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
.env
.venv
env/
venv/
ENV/
.ipynb_checkpoints/
*.ipynb_checkpoints
data/
database/
images/
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.swp
*.swo
*.log
*.tmp
*.tempsite/
.cache/

site/
.cache/
